@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


/* *|| DECLARING VARIABLE */
:root {
    --ff: 'Montserrat', sans-serif;
    --fw: 600;

    --fc-primary-dark: #333333;
    --fc-primary-light: #4E5150;
    --fc-orange: #F2994A;

}

/* *|| RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* *|| BODY, HR, FORM COMMON SETTING */
body {
    font-family: var(--ff);
    font-weight: var(--fw);
    padding: 0 .75rem; /* * 12px */
}

hr {
    margin: 0 0 .625rem 0; /* *0 0 10px 0*/
}

form {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

/* *|| HEADING PART */
.heading {
    font-size: 1.5rem; /* *24px */
    line-height: 1.219; /* * 1.8288rem; 29.26px */
    color: var(--fc-primary-light);
    margin: 2rem 0 1.31rem .375rem; /* *32px 0 20.96px 6px */
}

/* *|| ITEM CONTAINER --> PRICE SECTION */
.item-container:nth-of-type(1) {
    background-color: #F2F2F2;
    padding: 1.9156rem 3.6344rem 1rem 1.625rem; /* *30.65px 58.15px 16px 26px */
    border-radius: 12px;
}

.item {
    display: flex;
    gap: 18.47px;
    margin-bottom: 1.78rem; /* *28.48px */
}

.item:nth-of-type(2) {
    margin-bottom: 5.4469rem; /* *87.15px */
}

.image {
    width: 122.75px;
    height: auto;

    border-radius: 13px;
}

.product-name {
    font-size: .75rem; /* *12px */
    line-height: 1.219; /* *14.63px; */
    color: var(--fc-primary-light);

    margin-bottom: .625rem; /* *10px */
}

.product-price {
    font-size: .875rem; /* *14px */
    line-height: 1.219;
    color: var(--fc-orange);
    margin-bottom: 2rem; /* *32px */
    
}

.o-price {
    font-size: .625rem; /* *10px */
    line-height: 1.219;
    color: var(--fc-primary-light);

    margin-bottom: 1.915rem; /* *30.64px */
    margin-left: .5rem; /* *8px */
}

.item-detail {
    width: 100%;
}

.quantity-container {
    display: flex;
    justify-content: space-between;

    border: 1px solid #828282;
    border-radius: 12px;
    padding: .9375rem .625rem; /* *15px 10px */
}

.icon {
    color: #828282;
    background-color: #E0E0E0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 800,
  'GRAD' 200,
  'opsz' 48
}

.quantity-detail {
    font-size: 16px;
    line-height: 1.218;
}

.shipping-total {
    display: flex;
    justify-content: space-between;
}

.word {
    font-size: .875rem; /* *14px */
    line-height: 1.219;

    margin-bottom: .75rem; /* *12px */
}

/* *|| DETAIL SECTION -- SHIPPING DETAILS */
.sub-heading {
    font-size: .875rem; /* *14px */
    line-height: 1.219;
    
    margin-bottom: .6994rem; /* *11.19px */
    margin-top: 2.5rem; /* *40px */
}

.small-letters {
    font-size: .625rem; /* *10px */
    line-height: 1.129;
    
    margin-left: .0938rem;
    margin-bottom: .3125rem; /* *5px */
}

.input-style {
    padding: .7981rem 0 .7981rem 2.4413rem; /* *12.77px 0 12.77px 39.06px */
    width: 100%;
    border: 1px solid #828282;
    border-radius: 12px;
    color: #828282;
    margin-bottom: 1.0313rem; /* *16.5px */
}

.input-style:focus {
    border: none;
    outline: 1px solid var(--fc-orange);
    box-shadow: 0px 0px 10px 2px orange;
}

.input-icon {
    position: relative;
}

.ab-icon {
    position: absolute;
    color: #828282;
    font-size: 22px;
    transform: translate(50%, 50%);
}

.country-code {
    display: flex;
    gap: 1.5rem; /* *24px */
}

.country {
    width: 100%;
}

.code {
    width: 100%;
}
.country-code .input-style {
    margin-top: .2125rem;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: .5rem; /* *8px */
}

.center {
    padding-top: .2875rem; /* *4.6px */
}

input[type= "submit"] {
    font-family: var(--ff);
    font-size: 1rem; /* *16px */
    line-height: 1.218;
    cursor: pointer;
    width: 156px;
    color: #FFFFFF;
    text-align: right;
    margin-left: auto;
    background-color: var(--fc-orange);
    border: none;
    border-radius: 12px;
    padding: 1.0625rem 2.8125rem;
    margin-top: 20.49px;
}

/* *|| FOOTER SECTION */
.footer {
    margin-top: 5.9375rem; /* *95px */
    margin-bottom: 1.5rem;
    text-align: center;
    color: #BDBDBD;
    
}

.profile-link {
    font-weight: 700;
    color: #BDBDBD;
}

.profile-link:visited {
    color: #BDBDBD;
}

/* *|| MEDIA QUREY FOR SCREEN MORE THAN 499PX */
@media (min-width: 499px) {
    body {
        padding: 0 2.5rem;
    }
}

/* *|| MEDIA QUREY FOR SCREEN MORE THAN 729PX */
@media (min-width: 729px) {
    body {
        padding: 0 6.25rem 0 6.25rem;
    }

    .heading {
        font-size: 1.875rem;
        margin: 2.8125rem 0 1.31rem .625rem;
    }
}

/* *|| MEDIA QUREY FOR SCREEN MORE THAN 992PX */
@media (min-width: 992px) {
    body {
        padding: 0 9.375rem
    }

    .heading {
        margin: 3rem 0 1.31rem .725rem;
    }
}

/* *|| MEDIA QUREY FOR SCREEN MORE THAN 1200PX */
@media (min-width: 1200px) {
    body {
        padding: 0 15rem 0 15rem;
    }

    .heading {
        font-size: 2.25rem; /* *24px */    
        margin: 4rem 0 0 0;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
        gap: 4rem;
    }

    .item-container:nth-of-type(1) {
        min-width: 23.9375rem;
        height: 33.4375rem;
        padding: 2.0944rem 1.8594rem 2.0881rem 1.8594rem;
        border-radius: 12px;
    }

    .image {
        width: 134.21px;
        height: auto;
    }
    .product-name {
        font-size: 16px;
        margin-bottom: .875rem;
    }

    .product-price {
        font-size: 1rem;
        margin-bottom: 2.2rem;
    }

    .o-price {
        font-size: .75rem;
    }

    .word {
        font-size:  1.125rem;
    }
    .price {
        font-size: .875rem;
    }
    .sub-heading {
        font-size: 1.125rem;
        margin-bottom: .9344rem;
        margin-top: 3.1837rem; 
    }

    .small-letters {
        font-size: .75rem;
        margin-bottom: .4356rem;
    }

    .input-style {
        padding: 1.125rem 0 1.125rem 3.25rem;
        margin-bottom: 1.25rem;
    }

    .ab-icon {
        font-size: 26px;
        transform: translate(50%, 50%);
    }

    input[type="submit"] {
        margin-top: 1.4375rem;
    }
    .footer {
        margin-top: 9.9375rem;
    }

    
}